src/main/mule/onnewupdate.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="f995d588-b453-4d29-b351-c565cbf66b80" />
	<flow name="onnewupdateFlow" doc:id="1609ebe1-2d93-4452-aad9-541280f5678d" >
		<file:listener doc:name="On New or Updated File" doc:id="1f357421-e150-4bc5-8b21-ec274425c132" config-ref="File_Config" directory="C:\Users\Tarun\Desktop\onnewupdate" moveToDirectory="C:\Users\Tarun\Desktop\onnewupdate">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="4007c8bf-d3b2-42db-a9e9-bb7fa0bbbac0" message="#[payload]"/>
	</flow>
</mule>
